html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Lovely help functions
 */
/* Colors */
.shadow-transition {
  -webkit-transition: -webkit-box-shadow 0.3s ease-out;
  -moz-transition: -moz-box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
}

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.disable-selection, #slider .months {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: #000;
  line-height: normal;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body .cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/bkg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkg.jpg', sizingMethod='scale')";
  -webkit-animation: fadeIn 5s;
  /* Safari 4+ */
  -moz-animation: fadeIn 5s;
  /* Fx 5+ */
  -o-animation: fadeIn 5s;
  /* Opera 12+ */
  animation: fadeIn 5s;
  /* IE 10+ */
}

h1 a {
  font-size: 117px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  -webkit-transition-property: font-size;
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  position: absolute;
  width: 100%;
  letter-spacing: -4px;
  font-weight: bold;
  color: white;
  background: url(../img/masked_circle.png) no-repeat center center;
  line-height: 300px;
  text-decoration: none;
}
@media (max-width: 700px) {
  h1 a {
    font-size: 90px;
  }
}

header {
  margin: auto;
  position: absolute;
  left: 50%;
  width: 700px;
  margin-left: -350px;
  top: 25%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
@media (max-width: 700px) {
  header {
    position: absolute;
    left: 50%;
    width: 470px;
    margin-left: -235px;
    top: 25%;
  }
}

.content {
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
}
.content p {
  width: 557px;
  margin: 0 auto 40px auto;
  font-size: 17px;
  color: #fff;
}
.content .btn {
  margin: auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 17px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  border: 3px solid rgba(0, 0, 0, 0.3);
  padding: 18px 24px;
}
.content .btn:hover {
  background: #fff;
  color: #333;
}

.bottom {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 190px;
}

h2 {
  margin: 0 auto 50px auto;
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  width: 550px;
}

a.button, a.button:visited {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  margin: auto;
  background: url(../img/button220.png) no-repeat 0 0;
  padding: 19px 28px 19px 28px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a.button:hover {
  background: url(../img/button220.png) no-repeat 0 -59px;
}

/*MAP*/
#header {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  display: block;
  position: absolute;
  top: -71px;
  width: 100%;
  height: 71px;
  background-color: #111;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 10000;
}
#header a {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0;
  text-decoration: none;
  margin: 20px 0 0 30px;
  float: left;
}
#header ul {
  float: right;
  margin: 25px 55px 0 0;
}
#header ul li {
  display: inline;
  margin-left: 5px;
}
#header ul li.about {
  margin-right: 10px;
}
#header ul li.facebook {
  margin-left: -20px;
}
#header ul li a {
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0px;
  margin: 0 0 0 30px;
  text-decoration: none;
}
#header ul li a:hover {
  text-decoration: underline;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#slider {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: relative;
  z-index: 100000;
  display: block;
  position: absolute;
  bottom: -71px;
  left: 0;
  width: 100%;
  height: 71px;
  background-color: #111;
}
#slider .date {
  min-width: 60px;
  text-align: center;
  display: none;
  position: absolute;
  top: 21.5px;
  left: 100px;
  padding: 7px 8px;
  background: #0099EF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid #333;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  pointer-events: none;
  z-index: 110;
}
#slider .date .suffix {
  text-transform: lowercase;
}
#slider .border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  z-index: 120;
}
#slider .months {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
#slider .months li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 71px;
  width: 111px;
  padding-top: 30px;
  text-align: center;
  position: absolute;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  text-transform: uppercase;
  cursor: pointer;
}
#slider .handle {
  width: 20px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: ew-resize;
  z-index: 100;
}
#slider .highlight {
  width: 0;
  height: 71px;
  position: absolute;
  top: 0;
  left: 0;
  background: #0099EF;
  z-index: 1;
}

#sun {
  position: absolute;
  z-index: 1000;
}

/* Zoom */
#zoom {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 1000;
}
#zoom .zoom_in,
#zoom .zoom_out {
  display: block;
  position: relative;
  width: 43px;
  height: 36px;
  cursor: pointer;
}
#zoom .zoom_in {
  background: transparent url("../img/map-zoom.png") no-repeat 0 0;
}
#zoom .zoom_in:hover {
  background: transparent url("../img/map-zoom.png") no-repeat -43px 0;
}
#zoom .zoom_in:active {
  background: transparent url("../img/map-zoom.png") no-repeat -86px 0;
}
#zoom .zoom_out {
  background: transparent url("../img/map-zoom.png") no-repeat 0 -36px;
}
#zoom .zoom_out:hover {
  background: transparent url("../img/map-zoom.png") no-repeat -43px -36px;
}
#zoom .zoom_out:active {
  background: transparent url("../img/map-zoom.png") no-repeat -86px -36px;
}

.credits {
  position: absolute;
  right: 7px;
  bottom: 7px;
}
.credits, .credits a {
  font-size: 12px;
  color: #fff;
}
