@import "compass/reset";
@import "compass/css3";
@import "helpers";
@import "breakpoint";

$breakpoint-small-width: max-width 610px;
$breakpoint-medium-width: max-width 760px;
$breakpoint-big-width: max-width 1000px;

@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

html, body { height:100%; width:100%; margin:0; }

body{
  background: #000;

  .cover {
    @include position(0,0,0,0);
    @include size(100%);

    background: url(../img/bkg.jpg) no-repeat center center fixed;
    @include background-size(cover);

    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/bkg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkg.jpg', sizingMethod='scale')";

    -webkit-animation: fadeIn 5s; /* Safari 4+ */
    -moz-animation:    fadeIn 5s; /* Fx 5+ */
    -o-animation:      fadeIn 5s; /* Opera 12+ */
    animation:         fadeIn 5s; /* IE 10+ */

  }

  line-height:normal;

  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color:#333;

  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;


}

h1 a {
  font-size:117px;
  color: #fff;
  font-weight: bold;
  text-align:center;

  @include simple-transition(font-size);

  position: absolute;
  width: 100%;
  letter-spacing: -4px;
  font-weight: bold;
  color: white;
  background: url(../img/masked_circle.png) no-repeat center center;
  line-height: 300px;
  text-decoration:none;


  @include breakpoint($breakpoint-medium-width) {
    font-size: 90px;
  }
}

header {

  margin: auto;
  @include absolute-landscape-center(700px);
  top: 25%;

  @include simple-transition(all);

  @include breakpoint($breakpoint-medium-width) {
    @include absolute-landscape-center(470px);
    top: 25%;
  }
}

.bottom{
  display: block;
  text-align:center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 190px;
}

h2 {
  margin: 0 auto 40px auto;
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  width: 550px;
}

.btn {
  margin: auto;
  @include inline-block();
  @include border-radius(8px);
  @include simple-transition(all);

  font-size: 17px;
  color:#fff;
  font-weight:bold;
  text-decoration:none;

  border: 3px solid rgba(#000, .3);
  padding: 15px 30px;

  &:hover {
    border: 3px solid rgba(#000, .5);
  }

}

a.button, a.button:visited{
  @include box-sizing(border-box);
  padding: 19px 46px 19px 46px;
  margin:auto;
  background: url(../img/button220.png) no-repeat 0 0;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a.button:hover{
  background: url(../img/button220.png) no-repeat 0 -59px;
}


/*MAP*/

#header{
  @include opacity(0);
  display: block;
  position: absolute;
  top: -71px;
  width: 100%;
  height: 71px;
  background-color: #111;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  z-index: 10000;

  a {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0;
    text-decoration: none;
    margin: 20px 0 0 30px;
    float: left;

    @include breakpoint($breakpoint-medium-width) {
      margin: 20px 0 0 15px;
    }

    @include breakpoint($breakpoint-small-width) {
      span { display:none; }
    }

    @include breakpoint($breakpoint-big-width) {
      margin: 23px 0 0 30px;
      font-size: 18px;
    }

  }

  ul {
    float: right;
    margin: 25px 55px 0 0;
    @include clearfix();

    @include breakpoint($breakpoint-medium-width) {
      margin: 25px 15px 0 0;
    }

    li {

      float:left;

      &.about.small,
      &.embed.small {
        display:none;
        @include breakpoint($breakpoint-medium-width) { display:block; }

      }

      &.embed {
        @include breakpoint($breakpoint-medium-width) { display:none; }
      }

      &.about {
        margin-right: 10px;
        @include breakpoint($breakpoint-medium-width) { display:none; }
      }

      &.facebook { margin-left: -20px; }
      &.twitter { margin-left: 10px; }

      display: inline;

      a {
        font-weight: normal;
        font-size: 17px;
        letter-spacing: 0px;
        margin: 0 0 0 30px;
        text-decoration:none;

        @include breakpoint($breakpoint-big-width) {
          font-size: 14px;
          margin-left: 10px;
          margin-top: 3px;
        }

        &:hover { text-decoration:underline; }

      }
    }
  }
}


#map{
  width: 100%; height: 100%;
  padding: 0;
  margin: 0;
  @include position(0, 0, 0, 0);
}

#slider {

  @include opacity(0);

  $sliderHeight: 71px;
  position:relative;
  z-index: 100000;

  display: block;
  @include position(false, false, -$sliderHeight, 0);
  @include size(100%, $sliderHeight);
  background-color: #111;

  .date {
    min-width: 60px;
    text-align:center;
    display:none;
    @include position($sliderHeight/2 - 14, false, false, 100px);
    padding: 7px 8px;
    background: #0099EF;
    @include border-radius(3px);
    text-transform: uppercase;
    border: 1px solid #333;
    color:#fff;
    font-size: 11px;
    font-weight:bold;
    pointer-events:none;
    z-index: 110;

    .suffix { text-transform: lowercase; }
  }

  .border {
    position:absolute;
    top: 0; left: 0;
    @include size(100%, 1px);
    background-color: #fff;
    @include opacity(.2);
    z-index: 120;
  }

  .months {
    @include position(0, false, false, 0);
    z-index: 10;
    @extend .disable-selection;


    li {
      @include box-sizing(border-box);
      height:$sliderHeight;
      width: 111px;
      padding-top: 30px;
      text-align:center;
      position:absolute;
      @include inline-block();
      font-size:11px;
      font-weight:bold;
      color:#fff;
      @include opacity(.5);
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .tip {
    display:none;
    background: url(../img/arrow.png) no-repeat 0 3px;
    @include text-shadow(0 0 10px #000);
    padding-left: 20px;
    position:absolute;
    bottom: 80px;
    color: #fff;
    font-size: 18px;
    z-index: 100;
  }

  .handle {
    @include size(20px, $sliderHeight);
    @include position(0, false, false, 0);
    cursor: ew-resize;
    background: url(../img/handle.png) no-repeat 0px center;
    z-index: 100;
  }

  .highlight {
    @include size(0, $sliderHeight);
    @include position(0, false, false, 0);
    background: #0099EF;
    z-index: 1;
  }
}


#sun {
  position:absolute;
  z-index: 1000;
}

/* Zoom */

#zoom {

  display:none;

  $zoomWidth: 43px;
  $zoomHeight: 36px; // distance from the top of the canvas until the middle line

  @include position(90px, false, false, 20px);

  $url: "../img/map-zoom.png";

  z-index: 1000;

  .zoom_in,
  .zoom_out { display:block; position:relative; width: $zoomWidth; height: $zoomHeight; cursor: pointer; }

  .zoom_in {
    background: transparent url($url) no-repeat 0 0;
    &:hover  { background: transparent url($url) no-repeat -1*$zoomWidth 0; }
    &:active { background: transparent url($url) no-repeat -2*$zoomWidth 0; }
  }

  .zoom_out {
    background: transparent url($url) no-repeat 0 -1*$zoomHeight;
    &:hover  { background: transparent url($url) no-repeat -1*$zoomWidth -1*$zoomHeight; }
    &:active { background: transparent url($url) no-repeat -2*$zoomWidth -1*$zoomHeight; }
  }
}


body.map {
  .credits {
  display:none;
    @include position(false, 10px, 83px, false);
    &, a { font-size: 12px; color:#fff; }
    z-index: 10000;
  }
}
.credits {
  @include position(false, 7px, 7px, false);
  &, a { font-size: 12px; color:#fff; }
}

.cartodb_logo {
  display:none;

  @include size(69px, 27px);
  @include position(false, false, 83px, 15px);

  background:url('http://cartodb.s3.amazonaws.com/embed/embed_sprite.png') no-repeat -61px 0;

  text-indent:-9999px;
  z-index: 10000;
}


.embedWindow {
  display:none;
  padding: 21px 25px 20px 25px;

  @include box-sizing(border-box);
  @include absolute-center(480px, 230px);
  @include border-radius(3px);
  text-align: left;
  background:#fff;

  z-index: 10000;

  h3 {
    margin: 0;
    font-weight:bold;
  }

  .close {
    margin: auto;
    padding: 7px 14px;
    float:right;
    background: #333;
    color: #fff;
    @include border-radius(2px);
    font-size: 12px;
    text-decoration:none;

    &:hover {
      text-decoration:underline;
    }
  }

  .code {
    width: 407px;
    margin: 10px 0 10px 0;
    padding: 10px;
    color: #666;
    height: 100px;
    font-size: 14px;
  }

}

