@import "compass/reset";
@import "compass/css3";
@import "helpers";
@import "breakpoint";

/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);*/

$breakpoint-medium-width: max-width 700px;

html, body { height:100%; width:100%; margin:0; }

body{
  background: #000;

  &.home {
    background: url(../img/bkg.jpg) no-repeat center center fixed;
    @include background-size(cover);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/bkg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkg.jpg', sizingMethod='scale')";
    text-align:center;
  }

  line-height:normal;

  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color:#333;

  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;


}

h1  {
  font-size:117px;
  color: #fff;
  font-weight: bold;

  @include simple-transition(font-size);

  position: absolute;
  width: 100%;
  letter-spacing: -4px;
  font-weight: bold;
  color: white;
  background: url(../img/masked_circle.png) no-repeat center center;
  line-height: 300px;


  @include breakpoint($breakpoint-medium-width) {
    font-size: 90px;
  }
}

header {

  margin: auto;
  @include absolute-landscape-center(700px);
  top: 25%;

  @include simple-transition(all);

  @include breakpoint($breakpoint-medium-width) {
    @include absolute-landscape-center(470px);
    top: 25%;
  }
}

.content {

  position:absolute;
  bottom: 200px;
  width: 100%;
  text-align:center;

  p {
    width: 557px;
    margin: 0 auto 40px auto;

    font-size: 17px;
    color:#fff;
  }

  .btn {
    @include inline-block();
    font-size: 17px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    @include border-radius(8px);
    @include simple-transition(all);

    border: 3px solid rgba(#000, .3);
    padding: 18px 24px;

    &:hover {
      background:#fff;
      color:#333;

    }

  }

}

body{
  margin: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.bottom{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 190px;
}

h2{
  margin: 0 auto 50px auto;
  font-size: 17px;
  font-weight: normal;
  width: 550px;
}

a.button, a.button:visited{
  background: url(../img/button220.png) no-repeat 0 0;
  padding: 20px 28px 19px 28px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a.button:hover{
  background: url(../img/button220.png) no-repeat 0 -59;
}



/*MAP*/

#header{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 71px;
  background-color: #111;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

#header a{
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0;
  text-decoration: none;
  margin: 20px 0 0 30px;
  float: left;
}

#header ul {
  float: right;
  margin: 25px 30px 0 0;
}

#header ul li{
  display: inline;
}

#header ul li a{
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0px;
  margin: 0 0 0 30px;
}

#header ul li a.selected{
  color: rgba(255,255,255,0.5);
}

#map{
  width: 100%; height: 100%;
  padding: 0;
  margin: 0;
  @include position(72px, 0, 72px, 0);
}

#slider {
  $sliderHeight: 71px;
  position:relative;

  display: block;
  @include position(false, false, 0, 0);
  @include size(100%, $sliderHeight);
  background-color: #111;

  .border {
    position:absolute;
    top: 0; left: 0;
    @include size(100%, 1px);
    background-color: #fff;
    @include opacity(.2);
    z-index: 20;
  }

  .handle {
    @include size(20px, $sliderHeight);
    top: 0px;
    left: 100px;
    background: #0099EF;
    cursor: ew-resize;
    z-index: 10;
  }

  .highlight {
    background: #0099EF;
    @include size(100px, $sliderHeight);
    position:absolute;
    top: 0px;
    left: 0;
    z-index: 1;
  }
}
.tod {
  position: absolute;
  right: 30px;
  top: 200px;
  background-color: #AAA;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font: bold 16px Helvetica;
}
#livecode {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 450px;
  padding-left: 10px;
  box-shadow: 0px 0px 5px 6px #ccc;
}
textarea {
  color: rgba(0,0,0,0.9);
  background-color:rgba(255,255,255,0.7);
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  border: none;
  font-family: monospace;
  font-size: 19px;
  width: 450px;
  border: 0;
  outline: none;

}
.highlight {
  font-family: monospace;
  font-size: 19px;
}
.button {
  position: absolute;
  left: 30px;
  bottom: 40px;
  background-color: #AAA;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  padding: 10px;
  font: bold 16px Helvetica;
  /*width: 114px;*/
}
input[type="range"] {
    -webkit-appearance: none;
    background-color: gray;
    height: 2px;
    position: absolute;
    bottom: 56px;
    left: 180px;
    width: 50%;
    z-index: 111;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaaaaa;
    width: 13px;
    height: 20px;
}

