@import "compass/reset";
@import "compass/css3";
@import "helpers";
@import "breakpoint";
@import "animate";

$breakpoint-medium-width: max-width 700px;

html, body { height:100%; width:100%; margin:0; }

body{
  background: #000;

  &.home {
    background: url(../img/bkg.jpg) no-repeat center center fixed;
    @include background-size(cover);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../img/bkg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bkg.jpg', sizingMethod='scale')";

    /*display:none;*/
    /*@include animate-fadeOut;*/

  }

  line-height:normal;

  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  color:#333;

  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;


}

h1  {
  font-size:117px;
  color: #fff;
  font-weight: bold;
  text-align:center;

  @include simple-transition(font-size);

  position: absolute;
  width: 100%;
  letter-spacing: -4px;
  font-weight: bold;
  color: white;
  background: url(../img/masked_circle.png) no-repeat center center;
  line-height: 300px;


  @include breakpoint($breakpoint-medium-width) {
    font-size: 90px;
  }
}

header {

  margin: auto;
  @include absolute-landscape-center(700px);
  top: 25%;

  @include simple-transition(all);

  @include breakpoint($breakpoint-medium-width) {
    @include absolute-landscape-center(470px);
    top: 25%;
  }
}

.content {

  position:absolute;
  bottom: 200px;
  width: 100%;
  text-align:center;

  p {
    width: 557px;
    margin: 0 auto 40px auto;
    font-size: 17px;
    color:#fff;
  }

  .btn {
    margin: auto;
    @include inline-block();
    font-size: 17px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    @include border-radius(8px);
    @include simple-transition(all);

    border: 3px solid rgba(#000, .3);
    padding: 18px 24px;

    &:hover {
      background:#fff;
      color:#333;

    }

  }

}

.bottom{
  display: block;
  text-align:center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 190px;
}

h2{
  margin: 0 auto 50px auto;
  font-size: 17px;
  font-weight: normal;
  color: #fff;
  width: 550px;
}

a.button, a.button:visited{
  margin:auto;
  background: url(../img/button220.png) no-repeat 0 0;
  padding: 19px 28px 19px 28px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a.button:hover{
  background: url(../img/button220.png) no-repeat 0 -59px;
}



/*MAP*/

#header{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 71px;
  background-color: #111;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  z-index: 10000;

  a{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0;
    text-decoration: none;
    margin: 20px 0 0 30px;
    float: left;
  }

  ul {
    float: right;
    margin: 25px 30px 0 0;
  }

  ul li{
    display: inline;
  }

  ul li a{
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 0px;
    margin: 0 0 0 30px;
  }

  ul li a.selected{
    color: rgba(255,255,255,0.5);
  }

}


#map{
  width: 100%; height: 100%;
  padding: 0;
  margin: 0;
  @include position(0, 0, 0, 0);
}

#slider {

  $sliderHeight: 71px;
  position:relative;
  z-index: 100000;

  display: block;
  @include position(false, false, 0, 0);
  @include size(100%, $sliderHeight);
  background-color: #111;

  .date {
    display:none;
    @include position($sliderHeight/2 - 14, false, false, 100px);
    padding: 7px 8px;
    background: #0099EF;
    @include border-radius(3px);
    text-transform: uppercase;
    border: 1px solid #333;
    color:#fff;
    font-size: 11px;
    font-weight:bold;
    pointer-events:none;
    z-index: 110;

    .suffix { text-transform: lowercase; }
  }

  .border {
    position:absolute;
    top: 0; left: 0;
    @include size(100%, 1px);
    background-color: #fff;
    @include opacity(.2);
    z-index: 120;
  }

  .months {
    @include position(0, false, false, 0);
    z-index: 10;
    @extend .disable-selection;


    li {
      @include box-sizing(border-box);
      height:$sliderHeight;
      width: 111px;
      padding-top: 30px;
      text-align:center;
      position:absolute;
      @include inline-block();
      font-size:11px;
      font-weight:bold;
      color:#fff;
      @include opacity(.5);
      /*@include simple-transition(all, 100ms);*/
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .handle {
    @include size(20px, $sliderHeight);
    top: 0px;
    left: 110px;
    cursor: ew-resize;
    z-index: 100;
  }

  .highlight {
    background: #0099EF;
    @include size(120px, $sliderHeight);
    position:absolute;
    top: 0px;
    left: 0;
    z-index: 1;
  }
}


#sun {
  position:absolute;
  z-index: 1000;
}
