body{
  margin: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

#coverContainer{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/bkg0.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/overImg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/overImg.jpg', sizingMethod='scale')";
  text-align: center;
}

.bottom{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 190px;
}

h1{
  position: absolute;
  width: 100%;
  top: 13%;
  font-size: 117px;
  letter-spacing: -4px;
  font-weight: bold;
  color: white;
  background: url(../img/masked_circle.png) no-repeat center center;
  line-height: 300px;
}

h2{
  margin: 0 auto 50px auto;
  font-size: 17px;
  font-weight: normal;
  width: 550px;
}

a.button, a.button:visited{
  background: url(../img/button220.png) no-repeat 0 0;
  padding: 20px 28px 19px 28px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

a.button:hover{
  background: url(../img/button220.png) no-repeat 0 -59;
}



/*MAP*/

#header{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 71px;
  background-color: #111;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

#header a{
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0;
  text-decoration: none;
  margin: 20px 0 0 30px;
  float: left;
}

#header ul {
  float: right;
  margin: 25px 30px 0 0;
}

#header ul li{
  display: inline;
}

#header ul li a{
  font-weight: normal;
  font-size: 17px;
  letter-spacing: 0px;
  margin: 0 0 0 30px;
}

#header ul li a.selected{
  color: rgba(255,255,255,0.5);
}

#mapContainer{
  display: block;
  position: absolute;
  top: 72px;
  bottom: 72px;
  width: 100%;
}

#bottom{
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 71px;
  background-color: #111;
  border-top: 1px solid rgba(255,255,255,0.2);
}
